
<div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <h4 class="modal-title">FMV - the FRAM Model Visualiser</h4>
                <button type="button" class="close" @onclick="@(() => OnClick.InvokeAsync(false))">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    For more information on FRAM - the FUNCTIONAL RESONANCE ANALYSIS METHOD
                    for modelling non-trivial socio-technical systems, please visit the website <a href="https://functionalresonance.com/" target="_blank">functionalresonance.com</a>
                </p>
                <p>
                    <a class="oi oi-data-transfer-upload" /> Upload an existing FMV data file<br />
                    <a class="oi oi-data-transfer-download" /> Download the model as an FMV data file<br />
                    <a class="oi oi-image" /> Download the model as an SVG image file<br />
                    <a class="oi oi-zoom-out" /> <a class="oi oi-fullscreen-enter" /> <a class="oi oi-zoom-in" /> Zoom the model; out, fill and in<br />
                    <a class="oi oi-tags" /> Hide/Show Aspect labels<br />
                    <a class="oi oi-eye" /> Change the Function style rendering<br />
                    <AuthorizeView>
                        <Authorized>
                            <a class="oi oi-reload" /> Restore Latest Model<br />
                            <a class="oi oi-account-logout" /> Log Out of Account<br />
                        </Authorized>
                        <NotAuthorized>
                            <a class="oi oi-account-login" /> Log In to Account<br />
                        </NotAuthorized>
                    </AuthorizeView>
                </p>
                <p>
                    <a class="btn-textp">+</a> Add a new Function and enter a Name<br />To delete a Function, delete all Name text and then Delete/Backspace again<br />
                </p>
                <p>
                    <a class="btn-text">I</a>nput <a class="btn-text">O</a>utput <a class="btn-text">P</a>recondition <a class="btn-text">R</a>esource <a class="btn-text">C</a>ontrol <a class="btn-text">T</a>ime<br />
                    Add an Aspect to the selected Function<br />Select a Function by clicking/tapping, it will show a blue highlight<br />
                    To delete an Aspct, delete all text and then Delete/Backspace again
                </p>
                <p>
                    When an <a class="btn-text">O</a>utput Aspect has the same name as an <a class="btn-text">I P R C T</a> aspect on another Function, a Potential Coupling line will appear to connect the Functions
                </p>
                <p>
                    Drag a Function to arrange the model. On iPad use long-press on the Function to lock the scrolling
                </p>
                <p>
                    Use F11 for full-screen mode, or install the app to your desktop or home page for offline use
                </p>
                <strong>Copyright © 2021 ZERPRIZE LIMITED</strong>
                <p>
                    This program is free software: you can redistribute it and/or modify
                    it under the terms of the GNU Affero General Public License as published
                    by the Free Software Foundation, either version 3 of the License, or
                    any later version.
                </p>
                <p>
                    This program is distributed in the hope that it will be useful,
                    but WITHOUT ANY WARRANTY; without even the implied warranty of
                    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                    GNU Affero General Public License for more details <a href="https://www.gnu.org/licenses/" target="_blank">https://www.gnu.org/licenses/</a>.
                </p>
            </div>
            <footer class="modal-footer d-block float-left">
                <div class="float-left pt-2">
                    <AuthorizeView>
                        <Authorized>
                            <a class="pr-3" href="https://github.com/Zerprize-Limited/FMV_Community_Edition" target="_blank">Source Code</a>
                        </Authorized>
                    </AuthorizeView>
                    <a class="pr-3" href="https://zerprize.co.nz/Home/Privacy" target="_blank">Privacy Policy</a>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-modal" @onclick="@(() => OnClick.InvokeAsync(false))">Close</button>
                </div>
            </footer>
        </div>
    </div>
</div>

@code {

    [Parameter] public EventCallback<bool> OnClick { get; set; }

}