/* The animation code */
@keyframes highlight {
    0% {
        transform: scale(1);
        transform-origin: 50px 50px;
        opacity: 0.75;
    }
    33% {
        transform: scale(0.9);
        transform-origin: 50px 50px;
        opacity: 0.7;
    }
    66% {
        transform: scale(1.1);
        transform-origin: 50px 50px;
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        transform-origin: 50px 50px;
        opacity: 0.75;
    }
}
/* The element to apply the animation to */
#fmi-highlight {
    animation-name: highlight;
    animation-duration: 0.5s;
}
